---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Torrej칩n Rugby Club"
    description="Equipo de rugby de Torrej칩n de Ardoz"
>
    <Header />
    <main class="container mx-auto py-24 sm:py-48 text-center">
        <section class="mx-auto mt-4">
            <h1 class="font-bebas text-4xl font-bold text-primary">
                P치gina no encontrada
            </h1>
            <a href="/" class="underline">Volver a la p치gina principal</a>
        </section>
    </main>
    <Footer />
</Layout>
