---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Team from "../components/Team.astro";
import Twitter from "../components/Twitter.astro";
import Facebook from "../components/Facebook.astro";

const GMAPS_API = "AIzaSyDg2JLLD6LFhiExxxnKpotYwzH4xIdw0vQ";
---

<Layout
	title="Torrejón Rugby Club"
	description="Equipo de rugby de Torrejón de Ardoz"
>
	<Header />
	<main>
		<!-- <img src="/dia-club.jpeg" alt="" class="w-full" /> -->

		<section id="equipos" class="container mx-auto px-4 py-8">
			<h2 class="font-bebas text-4xl font-bold text-primary">
				NUESTROS EQUIPOS
			</h2>
			<p class="text-lg">
				¿Quieres venir a jugar? ¡Estaremos encantados de recibirte!
			</p>

			<h3 class="text-lg font-bold my-4">Entrenamientos</h3>

			<div class="grid grid-cols-3 gap-2">
				<Team
					title="Senior masculino"
					days="Martes, jueves y viernes"
					hours="20:15 a 22:00"
				/>
				<Team
					title="Sub 18"
					days="Martes y jueves"
					hours="18:00 a 20:30"
				/>
				<Team
					title="Escuela"
					days="Martes y jueves"
					hours="17:30 a 18:30"
				/>
			</div>
		</section>

		<section id="campo">
			<div class="container mx-auto px-4 mb-4">
				<h2 class="font-bebas text-4xl font-bold text-primary">
					Nuestro campo
				</h2>
			</div>
			<iframe
				width="100%"
				height="450"
				style="border:0"
				loading="lazy"
				allowfullscreen
				referrerpolicy="no-referrer-when-downgrade"
				src={`https://www.google.com/maps/embed/v1/place?key=${GMAPS_API}&q=Club+Deportivo+Elemental+Torrejón+Rugby+Club+C.+de+Joaquín+Blume,+28850+Madrid`}
			>
			</iframe>
		</section>

		<section class="container mx-auto p-4 text-center my-8">
			<h4 class="font-bebas text-3xl font-bold text-primary">
				Síguenos en redes
			</h4>
			<section
				class="flex flex-wrap items-center justify-center gap-4 my-4 text-primary"
			>
				<Facebook />
				<Twitter />
			</section>
		</section>

		<section id="contacto" class="px-4 py-12 bg-primary text-white">
			<div class="container mx-auto text-center">
				<h4 class="font-bebas text-4xl font-bold">Contacto</h4>
				Escríbenos a <a
					href="mailto:info@rugbytorrejon.com"
					class="text-white underline">info@rugbytorrejon.com</a
				> o rellena el siguiente formulario:
				<form
					action="https://formspree.io/f/xdovpwlg"
					method="POST"
					class="max-w-lg mx-auto space-y-2 mt-4 text-black"
				>
					<input
						type="email"
						name="email"
						placeholder="Email (opcional)"
						class="block w-full p-2 border border-gray-400 rounded"
					/>
					<textarea
						name="message"
						placeholder="Mensaje"
						class="block w-full p-2 border border-gray-400 rounded"
						required></textarea>
					<button
						type="submit"
						class="inline-block py-2 px-12 bg-white text-primary rounded"
					>
						Enviar
					</button>
				</form>
				<p id="status"></p>
				<script is:inline defer>
					const form = document.querySelector("form");

					async function handleSubmit(event) {
						event.preventDefault();
						var status = document.getElementById("status");
						var data = new FormData(event.target);
						fetch(event.target.action, {
							method: form.method,
							body: data,
							headers: {
								Accept: "application/json",
							},
						})
							.then((response) => {
								if (response.ok) {
									status.innerHTML =
										"Gracias por contactar con nosotros";
									form.reset();
								} else {
									response.json().then((data) => {
										if (Object.hasOwn(data, "errors")) {
											status.innerHTML = data["errors"]
												.map(
													(error) => error["message"]
												)
												.join(", ");
										} else {
											status.innerHTML =
												"No se ha podido enviar el mensaje. Inténtalo de nuevo más tarde.";
										}
									});
								}
							})
							.catch((error) => {
								status.innerHTML =
									"No se ha podido enviar el mensaje. Inténtalo de nuevo más tarde.";
							});
					}
					form.addEventListener("submit", handleSubmit);
				</script>
			</div>
		</section>
	</main>
	<footer class="container mx-auto p-4 text-center">
		<h4 class="font-bebas text-3xl font-bold text-primary">
			PATROCINADORES Y COLABORADORES
		</h4>
		<section class="flex flex-wrap items-center justify-center gap-4 my-4">
			<a href="https://www.carrier.com/commercial/es/es/" target="_blank">
				<img
					src="/patrocinadores/carrier.jpg"
					alt=""
					class="h-12 object-cover"
				/>
			</a>
			<div>
				<img
					src="/patrocinadores/Logo-Cricket.jpg"
					alt=""
					class="h-12 object-cover"
				/>
			</div>
			<div>
				<img
					src="/patrocinadores/logo-tr2.png"
					alt=""
					class="h-12 object-cover"
				/>
			</div>
			<a href="http://martinagenjoinstalaciones.es/" target="_blank">
				<img
					src="/patrocinadores/ajs-suministros.png"
					alt=""
					class="h-12 object-cover"
				/>
			</a>
			<a href="http://martinagenjoinstalaciones.es/" target="_blank">
				<img
					src="/patrocinadores/mai.png"
					alt=""
					class="h-12 object-cover"
				/>
			</a>
		</section>
		<section class="flex items-end justify-between">
			<a href="https://rugbymadrid.com" target="_blank">
				<img src="/LOGO-FRM_mod.jpg" alt="" class="h-16" />
			</a>
			<a
				href="http://rugbymadrid.com/seguro-accidente-deportivo/"
				target="_blank"
				class="text-sm text-gray-500"
				>Información sobre Seguro accidente médico</a
			>
			<a
				href="http://www.ayto-torrejon.es/plantilla.asp?nPagina=1&ccClave=154"
				target="_blank"
			>
				<img src="/ayuntamiento.jpeg" alt="" class="h-16" />
			</a>
		</section>
	</footer>
</Layout>
