---
import Facebook from "../components/Facebook.astro";
import Team from "../components/Team.astro";
import Tiktok from "../components/Tiktok.astro";
import Twitter from "../components/Twitter.astro";
import Layout from "../layouts/Layout.astro";

const GMAPS_API = "AIzaSyDg2JLLD6LFhiExxxnKpotYwzH4xIdw0vQ";
---

<Layout>
	<header class="bg-primary">
		<section
			class="container mx-auto px-4 flex items-center justify-between"
		>
			<img
				src="/logo.png"
				alt="Logo de Torrejón Rugby Club"
				class="block"
			/>
			<nav class="hidden md:block">
				<ul class="flex gap-4">
					<li>
						<a href="/" class="text-white">Inicio</a>
					</li>
					<li>
						<a href="/#ven-a-jugar" class="text-white"
							>¿Quiénes somos?</a
						>
					</li>
					<li>
						<a href="/#contacto" class="text-white">Contacto</a>
					</li>
					<li>
						<Facebook />
					</li>
					<li>
						<Twitter />
					</li>
				</ul>
			</nav>
		</section>
	</header>
	<main>
		<!-- <img src="/dia-club.jpeg" alt="" class="w-full" /> -->

		<section id="ven-a-jugar" class="container mx-auto px-4 py-8">
			<h2 class="text-3xl font-extrabold text-primary">
				¿Quieres jugar con nosotros?
			</h2>
			<p class="text-lg">¡Estaremos encantados de recibirte!</p>

			<h3 class="text-lg font-bold my-4">
				Nuestros <span class="text-primary">equipos</span> y <span
					class="text-primary">horarios</span
				> de entrenamientos:
			</h3>

			<div class="grid grid-cols-3 gap-2">
				<Team
					title="Senior masculino"
					days="Martes, jueves y viernes"
					hours="20:15 a 22:00"
				/>
				<Team
					title="Sub 18"
					days="Martes y jueves"
					hours="18:00 a 20:30"
				/>
				<Team
					title="Escuela"
					days="Martes y jueves"
					hours="17:30 a 18:30"
				/>
			</div>
		</section>

		<section id="nuestro-campo" class="">
			<div class="container mx-auto px-4 mb-4">
				<h2 class="text-3xl font-extrabold text-primary">
					Nuestro campo
				</h2>
			</div>
			<iframe
				width="100%"
				height="450"
				style="border:0"
				loading="lazy"
				allowfullscreen
				referrerpolicy="no-referrer-when-downgrade"
				src={`https://www.google.com/maps/embed/v1/place?key=${GMAPS_API}&q=Club+Deportivo+Elemental+Torrejón+Rugby+Club+C.+de+Joaquín+Blume,+28850+Madrid`}
			>
			</iframe>
		</section>

		<section id="contacto" class="px-4 py-12 bg-primary text-white">
			<div class="container mx-auto text-center">
				Escríbenos a <a
					href="mailto:info@rugbytorrejon.com"
					class="text-white underline">info@rugbytorrejon.com</a
				> o rellena el siguiente formulario:
				<form class="max-w-lg mx-auto space-y-2 mt-4">
					<input
						type="text"
						name="name"
						placeholder="Nombre"
						class="block w-full p-2 border border-gray-400 rounded"
					/>
					<input
						type="email"
						name="email"
						placeholder="Email"
						class="block w-full p-2 border border-gray-400 rounded"
					/>
					<textarea
						name="message"
						placeholder="Mensaje"
						class="block w-full p-2 border border-gray-400 rounded"
					></textarea>
					<button
						type="submit"
						class="inline-block py-2 px-12 bg-white text-primary rounded"
					>
						Enviar
					</button>
				</form>
			</div>
		</section>
	</main>
	<footer class="container mx-auto p-4">
		<section class="flex flex-wrap items-center justify-center gap-4 my-4">
			<a href="https://www.carrier.com/commercial/es/es/" target="_blank">
				<img src="/carrier.jpg" alt="" class="h-12 object-cover" />
			</a>
			<div>
				<img src="/Logo-Cricket.jpg" alt="" class="h-12 object-cover" />
			</div>
			<div>
				<img src="/logo-tr2.png" alt="" class="h-12 object-cover" />
			</div>
			<a href="http://martinagenjoinstalaciones.es/" target="_blank">
				<img
					src="/ajs-suministros.png"
					alt=""
					class="h-12 object-cover"
				/>
			</a>
			<a href="http://martinagenjoinstalaciones.es/" target="_blank">
				<img src="/mai.png" alt="" class="h-12 object-cover" />
			</a>
		</section>
		<section class="flex justify-between">
			<a href="https://rugbymadrid.com" target="_blank">
				<img src="/LOGO-FRM_mod.jpg" alt="" class="h-12" />
			</a>
			<a
				href="http://www.ayto-torrejon.es/plantilla.asp?nPagina=1&ccClave=154"
				target="_blank"
			>
				<img src="/ayuntamiento.jpeg" alt="" class="h-12" />
			</a>
		</section>
	</footer>
</Layout>
