---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Programación - Torrejón Rugby Club"
    description="Equipo de rugby de Torrejón de Ardoz"
>
    <Header />
    <main class="container mx-auto min-h-screen">
        <section class="mx-auto mt-4">
            <iframe
                id="foo"
                src="https://rugbymadrid.matchready.es/es/documentation_public/5/"
                width="100%"
                height="3000"
                onload="resizeIFrameToFitContent(this)"></iframe>
        </section>
    </main>
</Layout>
