<a href="https://www.facebook.com/rugbytorrejon" target="_blank" class="group">
    <svg
        class="w-6 h-6 group-hover:scale-110"
        viewBox="-0.21 -0.06 0.72 0.72"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMinYMin"
        fill="currentColor"
        ><path
            d="M.061.116v.082h-.06v.101h.06v.3h.124v-.3h.083S.276.251.28.198H.186V.129c0-.01.013-.024.027-.024h.068V0H.188C.058 0 .061.101.061.116z"
        ></path></svg
    >
</a>
