<footer class="container mx-auto p-4 text-center">
    <h4 class="font-bebas text-3xl font-bold text-primary">
        PATROCINADORES Y COLABORADORES
    </h4>
    <section class="flex flex-wrap items-center justify-center gap-4 my-4">
        <a href="https://www.carrier.com/commercial/es/es/" target="_blank">
            <img
                src="/patrocinadores/carrier.jpg"
                alt=""
                class="h-12 object-cover"
            />
        </a>
        <div>
            <img
                src="/patrocinadores/Logo-Cricket.jpg"
                alt=""
                class="h-12 object-cover"
            />
        </div>
        <div>
            <img
                src="/patrocinadores/logo-tr2.png"
                alt=""
                class="h-12 object-cover"
            />
        </div>
        <a href="http://martinagenjoinstalaciones.es/" target="_blank">
            <img
                src="/patrocinadores/ajs-suministros.png"
                alt=""
                class="h-12 object-cover"
            />
        </a>
        <a href="http://martinagenjoinstalaciones.es/" target="_blank">
            <img
                src="/patrocinadores/mai.png"
                alt=""
                class="h-12 object-cover"
            />
        </a>
    </section>
    <section class="flex items-end justify-between">
        <a href="https://rugbymadrid.com" target="_blank">
            <img
                src="/LOGO-FRM_mod.jpg"
                alt=""
                class="h-16 grayscale opacity-50"
            />
        </a>
        <a
            href="http://rugbymadrid.com/seguro-accidente-deportivo/"
            target="_blank"
            class="text-sm text-gray-500"
            >Información sobre Seguro accidente médico</a
        >
        <a
            href="http://www.ayto-torrejon.es/plantilla.asp?nPagina=1&ccClave=154"
            target="_blank"
            class="invert opacity-50"
        >
            <img src="/ayto-torrejon.svg" alt="" class="h-16" />
        </a>
    </section>
</footer>
