---
import Facebook from "./Facebook.astro";
import Instagram from "./Instagram.astro";
---

<header class="sticky top-0 w-full bg-primary">
    <section
        class="max-w-4xl mx-auto px-4 flex items-center justify-between gap-4"
    >
        <a href="/">
            <img src="/logo.png" alt="Logo de Torrejón Rugby Club" />
        </a>
        <nav class="font-bebas text-xl text-white">
            <ul class="flex gap-4">
                <li class="hidden md:block">
                    <a href="/#equipos">Equipos</a>
                </li>
                <li class="hidden md:block">
                    <a href="/#campo">Campo</a>
                </li>
                <li>
                    <a href="/programacion">Programación</a>
                </li>
                <li class="hidden md:block">
                    <a href="/#contacto">Contacto</a>
                </li>
                <li>
                    <Facebook />
                </li>
                <li>
                    <Instagram />
                </li>
            </ul>
        </nav>
    </section>
</header>
