---
const { title, days, hours } = Astro.props;
---

<div class="bg-gray-200 rounded p-4">
    <p class="text-lg font-bold text-primary">{title}</p>
    <p class="font-light text-gray-700">{days}</p>
    <p>{hours}</p>
</div>
